@import url(./reset.css);

body {
    width: 100%;
    height: 100vh;
    background-color: var(--pointColor);
    padding: 0px 100px 100px 100px;
}

#wrap {
    width: 100%;
    height: 100%;
    background-color: var(--pointColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    #header {
        width: 100%;
        min-height: 80px;
        background-color: var(--pointColor);
        display: inline-block;
        position: relative;

        .menu {
            width: 100%;
            height: 100%;
            cursor: pointer;
            padding: 40px;

            .line {
                border-top: 2px solid var(--blackColor);
                display: block;
                width: 30px;
                height: 10px;
                margin-left: auto;

                &:first-child {
                    top: 0;
                    transform-origin: 25% 50%;
                    transition: 0.3s;
                }

                &:nth-child(2) {
                    top: calc(50% - 1px);
                }

                &:last-child {
                    bottom: 0;
                    transform-origin: 25% 50%;
                    transition: 0.3s;
                }
            }

            &.open {
                .line:first-child {
                    transform: rotate(45deg) translateX(10%);
                }

                .line:nth-child(2) {
                    opacity: 0;
                }

                .line:last-child {
                    transform: rotate(-45deg) translateX(32%);
                }
            }
        }
    }

    #main {
        width: 100%;
        height: 100%;
        background-color: var(--pointColor);

        .container {
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-image: url(../images/about.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            backdrop-filter: blur(10px);
            overflow: hidden;

            .nav {
                width: 100%;
                height: 100%;
                position: relative;
                top: 0;
                left: 0;
                background-color: rgba(250, 250, 250, 0.5);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                p {
                    color: var(--blackColor);
                    font-size: 80px;
                    margin-bottom: 80px;
                    margin-top: 50px;
                    font-family: var(--fontK);
                }

                ul {
                    width: 60%;

                    li {
                        color: var(--blackColor);
                        font-size: 36px;
                        // text-shadow: 10px 10px 10px #ffffff;
                        padding: 20px;
                        text-align: center;
                        line-height: 1.2;
                        font-family: var(--fontN);
                    }
                }
            }
        }

    }
}