@import url(./reset.css);

:root {
    --pointColor: #D6E0E2;
    --baseColor: #FDFCF7;
    --whiteColor: #ffffff;
    --blackColor: #2b2b2b;
    --lineColor: #686866;
    --fontN: "nanumSquareNeo";
    --fontK: "Kumar";
    --fontB: "BebasNeue";
}


// .section {
//     position: relative;
//     max-width: 1396px;
//     width: 100%;
//     margin: 0px auto;
//     padding: 100px 0px 100px;
// }

// .pickstom_btn {
//     position: relative;
//     width: fit-content;
//     height: 75px;
//     border: 3px dashed #000;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     padding: 0px 40px;
//     font-size: 30px;
//     cursor: pointer;
//     transition: all 0.3s ease;

//     &::before {
//         content: '';
//         position: absolute;
//         bottom: -12px;
//         left: -12px;
//         width: 26px;
//         height: 26px;
//         background-color: var(--blackColor);
//         transition: all 0.3s ease;
//     }

//     &::after {
//         content: '';
//         position: absolute;
//         top: -12px;
//         right: -12px;
//         width: 26px;
//         height: 26px;
//         background-color: var(--blackColor);
//         transition: all 0.3s ease;
//     }

//     &:hover {
//         border: 3px solid var(--blackColor);

//         &::after {
//             right: calc(100% - 12px);
//         }

//         &::before {
//             left: calc(100% - 12px);
//         }
//     }
// }

.section {
    width: 100%;
    height: 1000px;
    border-bottom: 3px solid var(--lineColor);
    display: flex;

    .section1 {
        width: 60%;
        height: 100%;
        border-right: 3px solid var(--lineColor);

        .section1-1,
        .section1-2,
        .section1-3 {
            width: 100%;
            height: 25%;
            position: relative;
            border-bottom: 3px solid var(--lineColor);


            p {
                font-size: 160px;
                position: absolute;
                bottom: 14px;
                left: 20px;
                right: 0px;
                letter-spacing: -4px;
                font-family: var(--fontB);
            }
        }

        .section1-4 {
            width: 100%;
            height: 25%;
            position: relative;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 50px;

            .btn {
                width: 290px;
                height: 60px;
                border: 3px solid var(--lineColor);
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 60px;
                position: relative;
                cursor: pointer;
                background-color: var(--pointColor);
                font-weight: 800;

                &:before {
                    position: absolute;
                }
            }
        }

    }

    .section2 {
        width: 40%;
        height: 100%;
        background-image: url('../images/main_img.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.banner {
    width: 100%;
    height: 150px;
    background-color: var(--pointColor);
    border: 3px solid var(--lineColor);
    margin-top: -3px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;

    .scroll-text {
        display: inline-block;
        animation: scroll-left 80s linear infinite;
        font-size: 40px;
    }

    @keyframes scroll-left {
        from {
            // transform: translateX(0);
            margin-left: 0px;
        }

        to {
            margin-left: -2454px;
            // transform: translateX(-100%);
        }
    }

}

.header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 3px solid var(--lineColor);
    background-color: var(--baseColor);
    z-index: 11;

    p {
        font-size: 30px;
        margin-right: auto;
        font-family: var(--fontN);
        font-weight: 800;
        color: var(--lineColor);
    }

    .menu {
        margin-left: auto;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;

        .line {
            border-top: 4px solid var(--blackColor);
            display: block;
            width: 30px;
            height: 10px;

            &:first-child {
                top: 0;
                transform-origin: 25% 50%;
                transition: 0.3s;
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
            }

            &:last-child {
                bottom: 0;
                transform-origin: 25% 50%;
                transition: 0.3s;
            }
        }

        &.open {
            .line:first-child {
                transform: rotate(45deg) translateX(10%);
            }

            .line:nth-child(2) {
                opacity: 0;
            }

            .line:last-child {
                transform: rotate(-45deg) translateX(32%);
            }
        }
    }

}

.slidemenu {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: var(--baseColor);
    top: 0;
    right: -300px;
    border-left: 3px solid var(--lineColor);
    z-index: 10;
    padding: 122px 30px 30px 30px;
    transition: all 0.3s ease;

    &.open {
        right: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 20px;

        li {
            a {
                text-decoration: none;
                color: inherit;
                font-size: 30px;
                font-family: var(--fontB);
                cursor: pointer;
                position: relative;

                &::after {
                    content: '';
                    width: 0px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    border-top: 2px solid var(--lineColor);
                    transform: translateX(-50%);
                    transition: all 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.contents {
    width: 100%;
    height: 800px;
    display: flex;

    .content1,
    .content2,
    .content3 {
        height: 100%;
        border: 3px solid var(--lineColor);
        margin-top: -3px;
        box-sizing: border-box; // 패딩과 보더를 너비에 포함
        width: calc(33.333% + 3px); // 모든 요소의 너비를 계산하여 조정
        margin-left: -3px; // 모든 요소를 겹치도록 설정
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
        }

        &:first-child {
            margin-left: 0; // 첫 번째 요소는 음수 마진 적용하지 않음
        }

        .box {
            width: 410px;
            height: 560px;
            filter: grayscale(100%);
            /* 기본 상태에서는 흑백 */
            transition: filter 0.3s ease;
            /* 부드러운 효과 전환 */
            display: flex;
            justify-content: center;

            p {
                font-size: 60px;
                color: var(--whiteColor);
                text-align: center;
                margin-top: auto;
                margin-bottom: 40px;
            }

            &:hover {
                filter: grayscale(0);
            }
        }

        .about {
            background-image: url('../images/cot-img01.png');
        }

        .custom {
            background-image: url('../images/cot-img02.png');
        }

        .notice {
            background-image: url('../images/cot-img03.png');
        }

    }
}

.contents2 {
    width: 100%;
    height: 800px;
    border: 3px solid var(--lineColor);
    margin-top: -6px;
    display: flex;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    p {
        font-size: 80px;
        // transform: rotate(-90deg);
    }

    .container1 {
        width: 1200px;
        height: 640px;
        background-color: var(--whiteColor);
        border: 3px solid var(--lineColor);
        margin-top: 50px;
        border-radius: 50px;
    }

    // .container2 {
    //     width: 1200px;
    //     height: 640px;
    //     margin-left: 50px;
    //     background-color: var(--whiteColor);
    //     border: 1px solid var(--lineColor);
    // }
}



.footer {
    margin: 0px auto;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--pointColor);

    p {
        font-size: 22px;
        color: var(--lineColor);
    }
}

@media (max-width:1396px) {}