@charset "UTF-8";
@import url("./common.css");
.custom_container {
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 100px;
}

.custom__wrap {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: calc(100vh - 156px);
  margin-top: 100px;
  display: flex;
}
.custom__wrap .cont {
  width: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.custom__wrap .cont .canvas-container {
  height: 400px;
}
.custom__wrap .cont canvas {
  border: 2px dashed rgb(116, 155, 255);
  border-radius: 10px;
}
.custom__wrap .aside {
  width: 30%;
  border: 2px solid var(--pointColor1);
  border-radius: 20px;
  margin-left: -2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}
.custom__wrap .aside .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.custom__wrap .aside .controls .base_color_picker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.custom__wrap .aside .controls .base_color_picker p {
  width: 100%;
}
.custom__wrap .aside .controls .base_color_picker .color_box {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--whiteColor);
  border: 1px solid var(--blackColor);
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.custom__wrap .aside .controls .base_color_picker .color_box span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.custom__wrap .aside .controls .control_btns {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.custom__wrap .aside .controls .control_btns p {
  width: 100%;
  margin-top: 30px;
}
.custom__wrap .aside .controls .control_btns .font_check {
  display: flex;
  width: 100%;
}
.custom__wrap .aside .controls .control_btns .font_check .textColorPicker {
  width: 100%;
}
.custom__wrap .aside .controls .control_btns .add_img,
.custom__wrap .aside .controls .control_btns .add_own_img,
.custom__wrap .aside .controls .control_btns .add_text {
  width: 308px !important;
  height: 40px !important;
  padding: 7px 10px !important;
  background-color: var(--pointColor1) !important;
  color: white !important;
  text-align: center !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease !important;
}
.custom__wrap .aside .controls .control_btns .add_img i,
.custom__wrap .aside .controls .control_btns .add_own_img i,
.custom__wrap .aside .controls .control_btns .add_text i {
  margin-right: 5px !important;
}
.custom__wrap .aside .controls .control_btns .add_img:hover,
.custom__wrap .aside .controls .control_btns .add_own_img:hover,
.custom__wrap .aside .controls .control_btns .add_text:hover {
  background-color: rgba(0, 123, 255, 0.8) !important;
  transform: scale(1.05) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
.custom__wrap .aside .controls .controls_btn {
  margin: 5px 0;
  padding: 7px;
  background-color: var(--pointColor2);
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  width: 95px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.custom__wrap .aside .controls .controls_btn:hover {
  background-color: #ffc739;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom__wrap .aside .controls .controls_btn .fa-solid {
  width: -moz-fit-content;
  width: fit-content;
}
.custom__wrap .aside .controls input[type=file] {
  display: none;
  width: 70px;
}
.custom__wrap .aside .controls input[type=color] {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 84%;
  margin-left: 2px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; /* 크기 조정을 위한 box-sizing 추가 */
}
.custom__wrap .aside .controls input[type=color]:hover {
  background-color: rgba(0, 123, 255, 0.8);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom__wrap .aside .controls .inner_costom_box .free_img_wrapper {
  height: 380px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 5px;
  margin-top: -28px;
}
.custom__wrap .aside .controls .inner_costom_box .free_img_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--pointColor1);
}
.custom__wrap .aside .controls .inner_costom_box .free_img_wrapper img {
  width: 60px;
  height: 70px;
  padding: 10px;
  border: 2px solid var(--pointColor1);
  margin: 1px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: top 0.3s ease;
}
.custom__wrap .aside .controls .inner_costom_box .free_img_wrapper img:hover {
  background-color: var(--pointColor1);
  top: -3px;
}
.custom__wrap .aside .controls .clicked {
  background-color: var(--pointColor1);
}
.custom__wrap .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border: 2px solid #007BFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom__wrap .popup .close-btn {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
  margin-left: auto;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}
.custom__wrap .popup .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: 10px;
}
.custom__wrap .popup .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.custom__wrap .popup .tab button:hover {
  background-color: #ddd;
}
.custom__wrap .popup .tab button.active {
  background-color: #ccc;
}
.custom__wrap .popup .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 400px;
  overflow-y: auto;
}
.custom__wrap .popup .tabcontent .image-selection {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.custom__wrap .popup .tabcontent .image-selection img {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom__wrap .popup .tabcontent .image-selection img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.save_custom_confirm_layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}
.save_custom_confirm_layer .save_image_layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px;
  background-color: var(--baseColor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.save_custom_confirm_layer .save_image_layer .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.save_custom_confirm_layer .save_image_layer form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.save_custom_confirm_layer .save_image_layer form input {
  width: 100%;
}
.save_custom_confirm_layer .save_image_layer form button {
  width: 100%;
  margin-top: 20px;
}

.save_canvas {
  width: 308px !important;
  height: 40px !important;
  margin-top: 32px !important;
  padding: 7px 10px !important;
  background-color: var(--pointColor1) !important;
  color: white !important;
  text-align: center !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease !important;
}
.save_canvas i {
  margin-right: 5px !important;
}
.save_canvas:hover {
  background-color: rgba(0, 123, 255, 0.8) !important;
  transform: scale(1.05) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}/*# sourceMappingURL=custom.css.map */