@import url('./common.css');

.mypage__wrap {
    width: 100%;
    min-height: calc(100vh - 156px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding-top: 56px;

    .side__menu {
        width: 260px;
        height: 100%;

        ul {
            margin-top: 50px;

            li {
                padding: 20px;
                text-align: center;
                cursor: pointer;
            }

            .active {
                border-radius: 0 50px 50px 0;
                transition: all 0.3s;
                background-color: var(--pointColor1);
                color: var(--baseColor);

            }
        }
    }

    .mypage_contents_wrap {
        width: calc(100% - 260px);
        height: 100%;
        margin-left: 20px;

        .mypage_profile {
            display: block;

            form {
                margin-left: 40px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h2 {
                    margin: 40px 0;
                    font-size: 28px;
                    font-weight: 500;
                }

                div {
                    p {
                        width: 240px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                    }
                }


                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;


                    label {
                        width: 240px;
                    }

                    input {
                        width: 320px;
                    }
                }

                .slide_pass {
                    display: flex;
                    align-items: center;

                    .input-container {
                        position: relative;
                    }

                    .toggle-icon {
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 18px;
                        color: rgb(51 51 51 / 27%);
                        width: 30px;
                        text-align: center;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;


                    button {
                        border: 0;
                        width: 136px;
                        height: 56px;
                        background-color: #2460F9;
                        border-radius: 0.5rem;
                        font-size: 16px;
                        color: var(--baseColor);
                        font-weight: 600;
                        transition: all 0.3s;
                        margin-top: 80px;

                        &:hover {
                            background-color: var(--baseColor);
                            color: #2460F9;
                            border: 1px solid #2460F9;
                        }
                    }
                }
            }

        }

        .mypage_custom {
            display: none;
            margin-left: 40px;
            width: 630px;

            h2 {
                margin: 40px 0;
                font-size: 28px;
                font-weight: 500;
            }

            .box_wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                margin-top: 10px;

                .box {
                    width: 200px;
                    height: 250px;
                    border: 1px solid var(--pointColor1);
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .image_box {
                        width: 180px;
                        height: 180px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    p {
                        color: var(--blackColor200);
                        font-size: 14px;
                        padding-top: 10px;
                    }
                }

            }
        }
    }
}
.view_mycustom_layer_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: none;
    .view_mycustom_layer {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70vw;
        height: 70vh;
        background-color: var(--baseColor);
        border-radius: 10px;
        transform: translate(-50%,-50%) scale(0);
        transition: all 0.3s ease;
        .close_mycustom_layer {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            position: absolute;
            top: 10px;
            right: 10px;
            transition: all 0.3s ease;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                top: 14px;
                left: 5px;
                width: 20px;
                transform-origin: center;
                transform: rotate(45deg);
                border-top: 2px solid var(--blackColor);
            }
            &::before {
                content: "";
                position: absolute;
                top: 14px;
                left: 5px;
                width: 20px;
                transform-origin: center;
                transform: rotate(-45deg);
                border-top: 2px solid var(--blackColor);
            }
            &:hover {
                background-color: var(--blackColor200);
            }
        }
        .view {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: calc(100% - 90px);
            height: calc(100% - 90px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            &::after {
                content: '다운받기';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--baseColor);
                opacity: 0;
                transition: all 0.3s ease;
            }
            &:hover::after {
                opacity: 1;
            }
        }
    }
}