@mixin df($di,$al,$jc,$fg:null) {
    display: flex;
    flex-direction: $di;
    align-items: $al;
    justify-content: $jc;
    gap: $fg;
}
@mixin bgimg($url,$bgs,$rep:null){
    background: {
        image: url($url);
        size: $bgs;
        repeat: $rep;
        position: center;
    };
}